.container {
    color: red;
    background-color: antiquewhite;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mantra {
    text-align: center;
    color: antiquewhite;
    background-color: red;
    font-family:'Times New Roman', Times, serif;
    margin: 10px;
}

#greeting {
    color: blue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}